@model TravelConnect.Models.Responses.AirportAutocompleteRS
@{
    ViewData["Title"] = "Find Your Flight";
}

<h2>@ViewData["Title"]</h2>
<h4>Depart From</h4>
<input type="text" />
<select>
    <option value=""></option>
    @foreach(var airport in Model.AirportsRS)
    {
        <option value="@(airport.Code)">@(airport.FullName)</option>
    }
</select>
