<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />
  <meta name="google-site-verification" content="G0Ix4PrvOz3FVOt_tWCs2RpccKk2WjSL4JubqzJMQS4" />
    <link rel="stylesheet" href="~/dist/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/react-datepicker.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
</head>
<body>
    @RenderBody()

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>