@model TravelConnect.Models.SabreCredential

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>SabreCredential</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <input asp-for="ClientId" class="form-control" />
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientSecret" class="control-label"></label>
                <input asp-for="ClientSecret" class="form-control" />
                <span asp-validation-for="ClientSecret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessToken" class="control-label"></label>
                <input asp-for="AccessToken" class="form-control" />
                <span asp-validation-for="AccessToken" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryTime" class="control-label"></label>
                <input asp-for="ExpiryTime" class="form-control" />
                <span asp-validation-for="ExpiryTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
